<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="StageMachineCtrlSys.Properties.Settings.DB_SMCSConnectionString"
            connectionString="Data Source=.\SQLEXPRESS;AttachDbFilename=|DataDirectory|\DataBase\DB_SMCS.mdf;Integrated Security=True;Connect Timeout=10;User Instance=True"
            providerName="System.Data.SqlClient" />
      <add name="StageMachineCtrlSys.Properties.Settings.DB_SMCSConnectionStringFromSQL2008"
      connectionString="Data Source=FLASHBY-PC;Initial Catalog=C:\USERS\FLASHBY\DESKTOP\STAGEMACHINECTRLSYS\STAGEMACHINECTRLSYS\DATABASE\DB_SMCS.MDF;Integrated Security=True"
    providerName="System.Data.SqlClient" />
           </connectionStrings>
</configuration>