<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="DB_SMCSEntities" connectionString="metadata=res://*/OPCdotNETLib.Model1.csdl|res://*/OPCdotNETLib.Model1.ssdl|res://*/OPCdotNETLib.Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=.\SQLEXPRESS;AttachDbFilename=|DataDirectory|\DB_SMCS.mdf;Integrated Security=True;Connect Timeout=10;User Instance=True;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>